<!DOCTYPE html>
<html>
<head>
    <title>Винкс</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bootstrap/dist/css/bootstrap.css"
    rel="stylesheet" type="text/css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="images/winx.png" alt="winx" width="30" height="24" class="d-inline-block align-text-top">
                    Винкс
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="/blum">Блум</a>
                    <a class="nav-link" href="/stella">Стелла</a>
                    <a class="nav-link" href="/muza">Муза</a>
                    <a class="nav-link" href="/leyla">Лейла</a>
                    <a class="nav-link" href="/tehna">Техна</a>
                    <a class="nav-link" href="/flora">Флора</a>
                </div>
                </div>
            </div>
        </nav>
        <%- body %>
    </body>
</html>